

img {
padding:40px;
position:relative;
}




span{
position:absolute;
border-radius:50px;
left:30px;
background-color:#E11299;
border:1px solid black;
padding:10px;
color:white;
}

.overall{
display:flex;

}




.one{
position:relative;
}

.two{
position:relative;
}

.three{
position:relative;
}

.four{
position:relative;
}

.five{
position:relative;
}